!**/src/main/**/bin/
!**/src/main/**/build/
!**/src/main/**/out/
!**/src/test/**/bin/
!**/src/test/**/build/
!**/src/test/**/out/
!gradle/wrapper/gradle-wrapper.jar
*.iml
*.ipr
*.iws
*.pid
.DS_Store
.apt_generated
.classpath
.factorypath
.gradle
.idea
.idea/
.project
.settings
.springBeans
.sts4-cache
.vscode/
/.nb-gradle/
/dist/
/nbbuild/
/nbdist/
/nbproject/private/
bin/
build/
gradle-app.setting
out/
